.activity-list {
    width: 100%;
    border-collapse: collapse;
}

.activity-list th,
.activity-list td {
    border: 1px solid #858585;
    padding: 8px;
}

.activity-list th {
    background-color: #BFA054;
    text-align: left;
    color: #FBF8F2;
}

.activity-list tr:nth-child(even) {
    background-color: #F5EFE1;
}

.activity-list tr:hover {
    background-color: #ddd;
}

.activity-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BFA054;
    color: #FBF8F2;
}