/* ChildrenTable.css */

.children-table {
    width: 100%;
    border-collapse: collapse;
}

.children-table th,
.children-table td {
    border: 1px solid #858585;
    padding: 8px;
}

.children-table th {
    background-color: #BFA054;
    text-align: left;
    color: #FBF8F2;
}

.children-table tr:nth-child(even) {
    background-color: #F5EFE1;
}

.children-table tr:hover {
    background-color: #ddd;
}

.children-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BFA054;
    color: #FBF8F2;
}