/* ForgotPasswordPage.css */

.forgot-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.forgot-password-page .back-to-login {
    margin-top: 20px;
    text-align: center;
}

.forgot-password-page .back-to-login a {
    color: #BFA054;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password-page .back-to-login a:hover {
    text-decoration: underline;
}