/* InputField.css */
.input-field {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #858585;
    border-radius: 4px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #BFA054;
    outline: none;
}

.input-field.error {
    border-color: #e53e3e; /* Assuming error color remains the same */
}

.input-field.success {
    border-color: #38a169; /* Assuming success color remains the same */
}