/* MonitorsTable.css */

.monitors-table {
    width: 100%;
    border-collapse: collapse;
}

.monitors-table th,
.monitors-table td {
    border: 1px solid #858585;
    padding: 8px;
}

.monitors-table th {
    background-color: #BFA054;
    text-align: left;
    color: #FBF8F2;
}

.monitors-table tr:nth-child(even) {
    background-color: #F5EFE1;
}

.monitors-table tr:hover {
    background-color: #ddd;
}

.monitors-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BFA054;
    color: #FBF8F2;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.action-buttons .edit-button {
    background-color: #BFA054;
    color: #FBF8F2;
}

.action-buttons .delete-button {
    background-color: #2F2F2F;
    color: #FBF8F2;
}