/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #BFA054; /* Adapted color */
    padding-top: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.active {
    left: -250px;
}

.sidebar .close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #FBF8F2; /* Adapted color */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    text-align: left;
}

.sidebar ul li a {
    color: #FBF8F2; /* Adapted color */
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #2F2F2F; /* Adapted color */
}

.sidebar ul li a .icon {
    margin-right: 10px;
}

.sidebar ul li a .title {
    font-size: 18px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: #FBF8F2; /* Adapted color */
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 1001;
}